<!DOCTYPE html>
<html>

<head>
  <title>GuyBean</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <script type="text/javascript" src="/GuyBean/public/javascripts/app.js"></script>
  <link rel='stylesheet' href='/stylesheets/details-style.css' />
</head>

<body>
  <!-- NAVBAR -->
  <div class="navbar">
      <li><a href="/users/loggedin"><img src="/images/GuyBean-Logo.png" class="GuyBean-Logo"></a></li>
        <ul class="main-nav">
            <li class="dropdown"><a href="#">Company</a>
              <ul class="dropdown-content">
                <li><a href="#">About us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </li> &nbsp &nbsp
            <li><a href="/users/addRestaurant">Add Your Restaurant</a> </li>&nbsp
            <li><a href="/users/myRestaurants">My Restaurants</a> </li>&nbsp
          </ul>

          <h1><%= title %></h1>
          <div class="myRestaurants-container">
        <table id="list">
          <thead>
            <tr>  
              <th>Restuarant Name</th>
              <th>Incorporation Date</th>
              <th>Cuisine Type</th>
              <th>Address</th>
              <th>Contact Number</th>
              <th>Payment Options</th>
              <th>Restaurant Information</th>
            </tr>


            <tr>
              <td><%= MyRestaurant.name %></td>
              <td id="incorpDate"><%= MyRestaurant.registrationDate %></td>
              <td><%= MyRestaurant.cuisineType %></td>
              <td id="restaurantAddress"><%= MyRestaurant.address %></td>
              <td><%= MyRestaurant.contactNumber %></td>
              <td id="paymentOptions"><%= MyRestaurant.paymentOptions %></td>
              <td id="restInfo"><%= MyRestaurant.restaurantInfo %></td>
            </tr>
          </thead>
        </table>
        </div>
        </div>
        

